.songlist {
    &-detail {
        &-header {
            position: relative;
            padding: @gutter-width;
            padding-left: @gutter-width * 2 + 184px;
        }

        &-cover {
            position: absolute;
            top: @gutter-width;
            left: @gutter-width;
            width: 184px;
            height: 184px;
            border-radius: @border-radius-middle;
            overflow: hidden;

            & > img {
                display: block;
                width: 100%;
            }
        }

        &-title p {
            height: 30px;
            line-height: 29px;
            font-size: @font-size-large;
            font-weight: bold;
            padding-left: @gutter-width / 2;
            color: @text-color-primary;
        }

        &-author {
            line-height: 1;
            padding-top: @gutter-width / 4;

            & > span {
                color: @text-color-secondary;
                font-size: @font-size-small;
            }
        }

        &-oper {
            line-height: 1;
            padding: 14px 0;

            .nc-button {
                margin-right: @gutter-width / 2
            }
        }

        &-info {
            line-height: 22px;
            font-size: @font-size-small;

            p {
                color: @text-color-secondary;
                padding-right: @gutter-width * 1.5;
                position: relative;

                label {
                    color: @text-color-primary;
                }
                span {
                    color: @text-color-secondary;
                    margin-right: @gutter-width;
                }
                & > i {
                    color: @text-color-primary;
                    padding: 0 4px;
                    font-style: normal;

                    &.arrow {
                        position: absolute;
                        right: 0;
                        top: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}