@primary-color: rgb(236, 65, 65);
@white-color: #fff;
@black-color: rgb(18, 18, 18);

@primary-color-dark1: rgb(216, 62, 62);

// color
@text-color-primary: rgb(210, 210, 210);
@text-color-muted: rgb(91, 91, 91);
@text-color-regular: rgb(120, 120, 120);
@text-color-secondary: rgb(135, 135, 135);

@link-color: rgb(133, 185, 230);
@link-color-hover: rgb(179, 206, 229);

// background
@background-color-dark: rgb(43, 43, 43);
@background-color-dark-hover: rgb(51, 51, 51);
@background-color-dark2: rgb(54, 54, 54);
@background-color-dark3: rgb(74, 74, 74);
@background-color-dark4: rgb(91, 91, 91);

// font size
@font-size-small: 12px;
@font-size-base: 14px;
@font-size-middle: 16px;
@font-size-large: 20px;

// border
@border-color-base: rgb(68, 68, 68);

// radius
@border-radius-base: 2px;
@border-radius-middle: 4px;
@border-radius-large: 6px;

// 间距
@gutter-width: 20px;

// button
@button-height: 32px;
@button-height-small: 24px;
@button-height-large: 40px;
@button-default-border-color: @background-color-dark3;
@button-default-fill-color: transparent;
@button-default-fill-hover: @background-color-dark2;

@button-primary-border-color: @primary-color;
@button-primary-fill-color: @primary-color;
@button-primary-fill-hover: @primary-color-dark1;

// input
@input-height: 32px;
@input-default-fill-color: rgba(0, 0, 0, 0.1);

// tag
@tag-height: 20px;